.login{
  width: 100%;
  height: 100%;
  background-image: url('./images/bg.jpg');
  background-size: 100% 100%;
  .login-header{
    height: 100px;
    background-color: #0c373d;
    display: flex;
    align-items: center;    /*垂直居中*/
    img{
      height: 50px;
      margin: 0 15px 0 50px;
    }
    h1{
      font-size: 30px;
      color: white;
      margin-bottom: 0;
    }
  }
  .login-content{
    width: 400px;
    height: 300px;
    background-color: #fff;
    margin: 100px auto;
    padding: 20px 40px;
    h2{
      font-size: 35px;
      text-align: center;
      font-weight: bold;    /*加粗字体*/
    }
    .login-form{
      .login-form-button{
        width: 100%;
      }
    }

  }
}